/* Wrapper-header */
.wrapper-header{
    position: relative;
}

.wrapper-header-clipPath1{
    clip-path: polygon(100% 0%, 0% 0% , 0.00% 56.26%, 2.00% 55.68%, 4.00% 54.87%, 6.00% 53.87%, 8.00% 52.70%, 10.00% 51.43%, 12.00% 50.10%, 14.00% 48.77%, 16.00% 47.49%, 18.00% 46.30%, 20.00% 45.27%, 22.00% 44.43%, 24.00% 43.81%, 26.00% 43.44%, 28.00% 43.33%, 30.00% 43.50%, 32.00% 43.92%, 34.00% 44.60%, 36.00% 45.48%, 38.00% 46.55%, 40.00% 47.76%, 42.00% 49.06%, 44.00% 50.40%, 46.00% 51.72%, 48.00% 52.97%, 50.00% 54.10%, 52.00% 55.07%, 54.00% 55.83%, 56.00% 56.36%, 58.00% 56.63%, 60.00% 56.63%, 62.00% 56.37%, 64.00% 55.85%, 66.00% 55.09%, 68.00% 54.13%, 70.00% 53.01%, 72.00% 51.76%, 74.00% 50.44%, 76.00% 49.10%, 78.00% 47.80%, 80.00% 46.59%, 82.00% 45.51%, 84.00% 44.62%, 86.00% 43.94%, 88.00% 43.51%, 90.00% 43.34%, 92.00% 43.43%, 94.00% 43.79%, 96.00% 44.41%, 98.00% 45.24%, 100.00% 46.27%);
    
}
.wrapper-header-clipPath2{
    clip-path: polygon(100% 0%, 0% 0% , 0.00% 52.14%, 2.00% 52.61%, 4.00% 52.97%, 6.00% 53.21%, 8.00% 53.33%, 10.00% 53.30%, 12.00% 53.15%, 14.00% 52.87%, 16.00% 52.47%, 18.00% 51.97%, 20.00% 51.40%, 22.00% 50.77%, 24.00% 50.10%, 26.00% 49.43%, 28.00% 48.79%, 30.00% 48.19%, 32.00% 47.67%, 34.00% 47.24%, 36.00% 46.92%, 38.00% 46.73%, 40.00% 46.67%, 42.00% 46.74%, 44.00% 46.94%, 46.00% 47.27%, 48.00% 47.70%, 50.00% 48.23%, 52.00% 48.83%, 54.00% 49.48%, 56.00% 50.15%, 58.00% 50.81%, 60.00% 51.44%, 62.00% 52.01%, 64.00% 52.50%, 66.00% 52.89%, 68.00% 53.16%, 70.00% 53.31%, 72.00% 53.32%, 74.00% 53.20%, 76.00% 52.95%, 78.00% 52.58%, 80.00% 52.11%, 82.00% 51.55%, 84.00% 50.93%, 86.00% 50.27%, 88.00% 49.60%, 90.00% 48.95%, 92.00% 48.34%, 94.00% 47.79%, 96.00% 47.34%, 98.00% 46.99%, 100.00% 46.77%);

}

.wrapper-header-clipPath3{
    clip-path: polygon(100% 0%, 0% 0% , 0.00% 49.42%, 2.00% 48.78%, 4.00% 48.18%, 6.00% 47.66%, 8.00% 47.23%, 10.00% 46.92%, 12.00% 46.73%, 14.00% 46.67%, 16.00% 46.74%, 18.00% 46.95%, 20.00% 47.28%, 22.00% 47.71%, 24.00% 48.25%, 26.00% 48.85%, 28.00% 49.49%, 30.00% 50.16%, 32.00% 50.82%, 34.00% 51.45%, 36.00% 52.02%, 38.00% 52.51%, 40.00% 52.90%, 42.00% 53.17%, 44.00% 53.31%, 46.00% 53.32%, 48.00% 53.20%, 50.00% 52.94%, 52.00% 52.57%, 54.00% 52.10%, 56.00% 51.54%, 58.00% 50.91%, 60.00% 50.26%, 62.00% 49.59%, 64.00% 48.93%, 66.00% 48.33%, 68.00% 47.78%, 70.00% 47.33%, 72.00% 46.99%, 74.00% 46.76%, 76.00% 46.67%, 78.00% 46.71%, 80.00% 46.88%, 82.00% 47.18%, 84.00% 47.60%, 86.00% 48.11%, 88.00% 48.69%, 90.00% 49.33%, 92.00% 50.00%, 94.00% 50.66%, 96.00% 51.30%, 98.00% 51.89%, 100.00% 52.40%);
}

.wrapper-header-css{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(270deg,#019E48, #6FCB99);
    height: 135%;
    opacity: 0.6;
    z-index: -1;
}

.wrapper-header-backgr-link{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 65%;
    z-index: -2;
    object-fit: contain;
    opacity: 0.5;
}

.onTopBubbleAddress1{
    top: -5%;
    left: 5%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2));
}

.onTopBubbleAddress2{
    top: 10%;
    left: 45%;
    background: rgba(255, 255, 255, 0.3);
}
.onTopBubbleAddress3{
    top: 28%;
    right: 8%;
    background: rgba(255, 255, 255, 0.3);
}

.onTopBubbleAddress4{
    top: 26%;
    left: 4%;
    box-shadow: 0px 12px 15px rgba(0, 0, 0, 0.2);
}

.onTopBubbleAddress5{
    top: 42%;
    right: 2%;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}


.onTopBubbleAddress6{
    top: 50%;
    left: 40%;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}



.index-onTop{
    position: relative;
}
/* header */
.header{
    padding-top: 40px;
    height: 60px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-right: 20px;
}


.header-logo{
    display: flex;
}

.header-logo-img{
    width: 40px;
    height: 40px;
}

.header-logo-name{
    font-size: 1.5rem;
    color: var(--header-color);
    margin-left: 12px;
}

.header-logo-schoolName{
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
}

.header-logo-facultyName{
    font-size: 1.4rem;
    text-transform: capitalize;
    font-weight: 300;
    margin-top: 6px;
}

.header-wrapper{
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 999;
}

.header-wrapper-element{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 35%;
    height: 100%;
    background-color: #fff;
}

.header-menu{
    display: none;
}

.header-menu-icon{
    color: #fff;
    font-size: 2.5rem;
    cursor: pointer;
}

.header-menu-icon:hover{
    opacity: 0.8;
}

.header-wrapper-element{
    padding-top: 40px;
}

.header-wrapper-element-close{
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 2rem;
    cursor: pointer;
}

.header-wrapper-element-list{
    font-size: 1.5rem;
    padding: 16px;
    border-top: 0.2px solid #ccc;
    cursor: pointer;
}

.header-wrapper-element-list a{
    color: var(--text-color);
}


.header-list{
    /* display: none; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--header-color);
}

.header-list-content{
    padding: 8px 16px;
    text-transform: uppercase;
}

.header-list-content a{
    color: var(--header-color);
}

.header-list-search{
    padding: 8px 16px;
}

.header-list-search-icon{
    display: inline-block;
    color: var(--header-color);
    font-size: 24px;
}

/* Container */
.container{
    width: 100%;
    height: 500px;
    text-align: center;
    padding-top: 150px;
    color: var(--header-color);
}
.container-title{
    font-size: 5rem;
    font-weight: 400;
}

.container-text{
    font-size: 2.6rem;
    font-weight: 300;
}
/* Thông tin thêm */
.additionalInfo{
    margin-top: 20px;
}

.additionalInfo-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.additionalInfo-block:nth-child(1), .additionalInfo-block:nth-child(3){
    margin-top: 100px;
}

.additionalInfo-block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 22%;
    height: 260px;
    box-shadow: 0px 5px 16px -4px #888888;
}


.additionalInfo-block-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 0px 0px 6px 1px #888888;
}
.additionalInfo-block-icon-link{
    width: 50px;
    height: 50px;
}
.additionalInfo-block-number{
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #17cd4e;
    margin-bottom: 10px;
}
.additionalInfo-block-text{
    font-size: 2rem;
    font-weight: bold;
}

/* events */
.events{
    position: relative;
    font-size: 1.5rem;
    margin-top: 60px;
}

.onTopBubbleAddress7{
    top: 55%;
    left: 20%;
}
.onTopBubbleAddress8{
    top: 66%;
    right: -5%;
}

.events-container-slideshow{
    overflow: hidden;
    margin-top: 60px;
    border-radius: 4px 40px 4px 40px;
    box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.1);
}

.events-container-wrapper{
    display: flex;
    width: 100%;
    transition: transform 0.6s ease-in-out;
}

.events-container{
    display: flex;
    flex: 1 0 100%;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 315px;
}

.events-img{
    border-radius: 4px 4px 4px 40px;
    overflow: hidden;
}

.events-img-link{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.events-content{
    border-radius: 4px 40px 4px 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--back-content);
}

.events-wrapper{
    padding: 0 24px;
}


.events-content-header{
    font-size: 2rem;
    font-weight: 600;
    padding: 24px;
    margin-top: 24px;
}

.events-content-description{
    padding: 0 24px;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 32px;
}

.events-more{
    margin: 32px 24px 0 24px;
}

.arrow-icon{
    font-size: 2rem;
    color: #13c316;
    padding: 8px;
}

.arrow-icon:hover{
    color: #888888;
    cursor: pointer;
}

.events-arrow{
    margin-right: 20px;
}

.events-overlay-content-description{
    padding: 0 42px !important;
}

.back-overlay{
    position: fixed;
    bottom: 5%;
    left: 15%;
}


/* tranning */
.training{
    position: relative;
    margin-bottom: 100px;
}

.onTopBubbleAddress9{
    top: 10%;
    left: 55%;
}

.onTopBubbleAddress10{
    top: 55%;
    left: -9%;
}

.tranning-flex{
    display: flex;
    margin-top: 8px;
}

.tranning-flex-slider{
    overflow: hidden;
}

.tranning-wrapper{
    display: flex;
    transition: transform 0.6s ease-out;
}

.tranning-container{
    flex: 1 0 100%;
}

.tranning-container:hover{
    
    cursor: pointer;
}

.tranning-img{
    width: 100%;
}

.tranning-overlay-content-description{
    padding: 0 42px !important;
}


/* Khoa học */

.scientific{
    position: relative;
    height: 100%; 
    z-index: 0;
    margin-top: 100px;
}

.onTopBubbleAddress10{
    top: -10%;
    left: 50%;
}

.scientific-wrapper{
    position: relative;
    z-index: 1;
}


.scientific-clipPath{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 150%;
    clip-path: polygon(100% 100%, 0% 100% , 0.00% 33.91%, 2.00% 32.49%, 4.00% 31.11%, 6.00% 29.83%, 8.00% 28.71%, 10.00% 27.79%, 12.00% 27.13%, 14.00% 26.75%, 16.00% 26.68%, 18.00% 26.90%, 20.00% 27.41%, 22.00% 28.20%, 24.00% 29.22%, 26.00% 30.42%, 28.00% 31.76%, 30.00% 33.17%, 32.00% 34.59%, 34.00% 35.95%, 36.00% 37.19%, 38.00% 38.25%, 40.00% 39.10%, 42.00% 39.68%, 44.00% 39.97%, 46.00% 39.96%, 48.00% 39.65%, 50.00% 39.05%, 52.00% 38.19%, 54.00% 37.11%, 56.00% 35.86%, 58.00% 34.50%, 60.00% 33.08%, 62.00% 31.67%, 64.00% 30.34%, 66.00% 29.15%, 68.00% 28.14%, 70.00% 27.37%, 72.00% 26.87%, 74.00% 26.67%, 76.00% 26.77%, 78.00% 27.17%, 80.00% 27.85%, 82.00% 28.77%, 84.00% 29.91%, 86.00% 31.20%, 88.00% 32.59%, 90.00% 34.01%, 92.00% 35.40%, 94.00% 36.69%, 96.00% 37.84%, 98.00% 38.78%, 100.00% 39.47%);
    background: linear-gradient(#019E48, #fff);
}

.white-color{
    color: var(--header-color);
}

.scientific-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    padding-bottom: 60px;
}


.scientific-container-content{
    width: 43%;
    text-align: center;
    background-color: var(--back-content);
}

.scientific-content-img{
    margin-top: 20px;
    width: 90%;
}

.scientific-content-text{
    padding-top: 24px;
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 500;
}

.scientific-content-more{
    font-size: 1.6rem;
    padding: 24px 0;
    color: #CF2B36;
    font-weight: 600;
}

.scientific-content-more:hover{
    color: #af0813;
    cursor: pointer;
}

/* Hợp tác */
.collab{
    position: relative;
}

.collab-backgr{
    position: absolute;
    width: 50%;
    top: 15%;
    right: 0;
    opacity: 0.1;
    z-index: -1;
}

.collab-backgr-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.collab-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 130px;
}

.collab-container-slider{
    overflow: hidden;
}

.collab-container-wrapper{
    display: flex;
    width: 100%;
    transition: transform 0.6s ease-out;
}

.collab-container-content{
    flex: 1 0 100%;
}

.collab-container-list{
    position: relative;
    display: flex;
    align-items: center;
    height: 320px;
}

.collab-content-img{
    flex: 1 0 45%;
    height: 100%;
    position: relative;
    right: 70%;
    margin-left: 12px;
}

.collab-content-img-link{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.collab-more{
    margin-top: 20px;
    margin-left: 1px;
}

.collab-overlay-content-description{
    padding: 0 42px !important;
}

/* experience */
.experience{
    position: relative;
    margin-top: 100px;
}
.onTopBubbleAddress11{
    top: 14%;
    left: 25%;
}

.onTopBubbleAddress12{
    top: 42%;
    right: -8%;
}

.onTopBubbleAddress13{
    z-index: 1 !important;
    top: 65%;
    left: -8%;
}

.onTopBubbleAddress14{
    top: 62%;
    left: -14%;
}

.onTopBubbleAddress15{
    top: 62%;
    right: -12%;
}


.experience-slider{
    overflow: hidden;
}

.experience-wrapper{
    display: flex;
    transition: transform 0.6s ease-out;
}

.experience-container{
    flex: 1 0 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 40px;
    height: 400px;
}

.experience-container-wrapper{
    position: relative;
    width: 30%;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}


.experience-container-wrapperChild{
    padding: 100px 32px 48px 24px;
}

.experience-container-header{
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 30px;
    line-height: 1.6;
}

.experience-container-description{
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: 300;
    margin-bottom: 40px;
    line-height: 1.6;
}

.experience-container-avatar{
    position: absolute;
    width: 110px;
    height: 110px;
    top: -14%;
    left: 20%;
}

.experience-container-avatar-link{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.experience-overlay-content-description{
    padding: 0 42px !important;
}

/* photoGallery */
.photoGallery{
    position: relative;
    margin-bottom: 200px;
}

.onTopBubbleAddress16{
    top: 0;
    right: 50%;
}

.onTopBubbleAddress17{
    top: 20%;
    right: 3%;
}

.onTopBubbleAddress18{
    top: 62%;
    left: -8%;
}

.onTopBubbleAddress19{
    bottom: -6%;
    right: 18%;
}


.photoGallery-wrapper{
    overflow: hidden;
}

.photoGallery-container{
    display: flex;
    transition: transform 0.6s ease-out;
}

.photoGallery-content{
    flex: 1 0 100%;
    margin-top: 32px;
    margin-bottom: 32px;
}
.photoGallery-content-img{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 250px;
    margin-bottom: 16px;
}
.photoGallery-content-img-70{
    overflow: hidden;
    width: 71%;
    height: 100%;
    object-fit: cover;
}
.photoGallery-content-img-20{
    width: 25%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.photoGallery-content-img-40{
    width: 40%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.photoGallery-content-img-30{
    width: 29%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.photoGallery-content-img-link{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.photoGallery-overlay-content{
    margin-top: 10px;
}

/* footer */
.footer{
    position: relative;
}

.onTopBubbleAddress20{
    top: 10%;
    left: 5%;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 4px 4px -1px rgba(0, 0, 0, 0.4);
}

.onTopBubbleAddress21{
    top: 30%;
    right: 8%;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 4px 4px -1px rgba(0, 0, 0, 0.4);
}

.onTopBubbleAddress22{
    bottom: 22%;
    left: 30%;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 4px 4px -1px rgba(0, 0, 0, 0.4);
}

.footer-clipPath1{
    clip-path: polygon(100% 100%, 0% 100% , 0.00% 34.44%, 2.00% 35.61%, 4.00% 36.53%, 6.00% 37.19%, 8.00% 37.57%, 10.00% 37.66%, 12.00% 37.46%, 14.00% 36.97%, 16.00% 36.20%, 18.00% 35.19%, 20.00% 33.94%, 22.00% 32.50%, 24.00% 30.91%, 26.00% 29.20%, 28.00% 27.43%, 30.00% 25.63%, 32.00% 23.86%, 34.00% 22.17%, 36.00% 20.60%, 38.00% 19.19%, 40.00% 17.97%, 42.00% 16.99%, 44.00% 16.27%, 46.00% 15.82%, 48.00% 15.67%, 50.00% 15.80%, 52.00% 16.23%, 54.00% 16.93%, 56.00% 17.89%, 58.00% 19.09%, 60.00% 20.48%, 62.00% 22.05%, 64.00% 23.73%, 66.00% 25.49%, 68.00% 27.29%, 70.00% 29.07%, 72.00% 30.78%, 74.00% 32.38%, 76.00% 33.84%, 78.00% 35.10%, 80.00% 36.13%, 82.00% 36.92%, 84.00% 37.43%, 86.00% 37.66%, 88.00% 37.59%, 90.00% 37.23%, 92.00% 36.59%, 94.00% 35.69%, 96.00% 34.54%, 98.00% 33.19%, 100.00% 31.66%);
    opacity: 0.9;
}

.footer-clipPath2{
    clip-path: polygon(100% 100%, 0% 100% , 0.00% 19.12%, 2.00% 18.25%, 4.00% 17.66%, 6.00% 17.37%, 8.00% 17.38%, 10.00% 17.69%, 12.00% 18.29%, 14.00% 19.18%, 16.00% 20.32%, 18.00% 21.70%, 20.00% 23.29%, 22.00% 25.04%, 24.00% 26.92%, 26.00% 28.88%, 28.00% 30.89%, 30.00% 32.89%, 32.00% 34.84%, 34.00% 36.69%, 36.00% 38.41%, 38.00% 39.96%, 40.00% 41.29%, 42.00% 42.38%, 44.00% 43.20%, 46.00% 43.74%, 48.00% 43.99%, 50.00% 43.93%, 52.00% 43.57%, 54.00% 42.91%, 56.00% 41.98%, 58.00% 40.80%, 60.00% 39.38%, 62.00% 37.76%, 64.00% 35.99%, 66.00% 34.09%, 68.00% 32.12%, 70.00% 30.11%, 72.00% 28.11%, 74.00% 26.18%, 76.00% 24.34%, 78.00% 22.65%, 80.00% 21.14%, 82.00% 19.85%, 84.00% 18.80%, 86.00% 18.02%, 88.00% 17.53%, 90.00% 17.34%, 92.00% 17.45%, 94.00% 17.85%, 96.00% 18.56%, 98.00% 19.53%, 100.00% 20.76%);
    opacity: 0.8;
}

.footer-clipPath3{
    clip-path: polygon(100% 100%, 0% 100% , 0.00% 42.21%, 2.00% 43.14%, 4.00% 43.74%, 6.00% 43.99%, 8.00% 43.89%, 10.00% 43.43%, 12.00% 42.63%, 14.00% 41.52%, 16.00% 40.11%, 18.00% 38.46%, 20.00% 36.60%, 22.00% 34.57%, 24.00% 32.45%, 26.00% 30.28%, 28.00% 28.11%, 30.00% 26.02%, 32.00% 24.05%, 34.00% 22.25%, 36.00% 20.68%, 38.00% 19.38%, 40.00% 18.38%, 42.00% 17.70%, 44.00% 17.37%, 46.00% 17.39%, 48.00% 17.77%, 50.00% 18.49%, 52.00% 19.53%, 54.00% 20.87%, 56.00% 22.47%, 58.00% 24.29%, 60.00% 26.28%, 62.00% 28.39%, 64.00% 30.55%, 66.00% 32.72%, 68.00% 34.84%, 70.00% 36.84%, 72.00% 38.68%, 74.00% 40.31%, 76.00% 41.68%, 78.00% 42.75%, 80.00% 43.51%, 82.00% 43.92%, 84.00% 43.98%, 86.00% 43.68%, 88.00% 43.04%, 90.00% 42.07%, 92.00% 40.80%, 94.00% 39.25%, 96.00% 37.48%, 98.00% 35.52%, 100.00% 33.44%);
    opacity: 0.7;
}

.footer-clipPath-css{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 150%;
    z-index: -1;
    background: linear-gradient(90deg,#019E48, #6FCB99);
}


.footer-container{
    padding-top: 100px;
}

.footer-container-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container-header-logo{
    width: 70px;
}

.footer-container-header-text{
    text-align: center;
    color: var(--footer-color);
    margin-left: 16px;
}

.footer-container-header-schoolName{
    font-size: 3.2rem;
    text-transform: uppercase;
    font-weight: 500;
}

.footer-container-header-facultyName{
    font-size: 3rem;
}

.footer-container-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 80px;
}

.footer-flexEnd{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-container-content-wrapper{
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 300;
}

.footer-info{
    margin-bottom: 12px;
}

.footer-flexEnd .footer-container-content-wrapper{
    margin-right: 12px;
}

.footer-container-more{
    text-align: center;
    padding-bottom: 60px;
    font-weight: 300;
}

.footer-container-more-bigtext{
    color: var(--footer-color);
    font-size: 1.5rem;
    margin-bottom: 12px;
}
.footer-container-more-smalltext{
    color: var(--footer-color);
    font-size: 1.2rem;
}

