:root{
    --main-color: #fff;
    --header-color: #fff;
    --text-color: #000;
    --back-content:#fff;
    --footer-color:#fff;
}
*{
    padding: 0;
    margin: 0;
}
html{
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}
.width-content{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.border-block{
    border-radius: 4px 40px 4px 40px;
}
/* bodyContent */
.bodyContent-header-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.bodyContent-header-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 60px;
}
.bodyContent-header-text{
    font-size: 3.3rem;
    text-transform: uppercase;
    font-weight: 800;
}
.bodyContent-header-description{
    margin-top: 24px;
    font-size: 1.6rem;
    font-weight: 300;
}

.bodyContent-content{
    width: 49.8%;
    height: 100%;
    border-radius: 4px 40px 4px 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--back-content);
}
.bodyContent-content-header{
    font-size: 2rem;
    font-weight: 600;
    padding: 24px 0;
    margin-top: 24px;
}
.bodyContent-content-description{
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.6;
}

.bodyContent-more{
    display: flex;
    justify-content: space-between;
}

.bodyContent-block{
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 300;
}

.bodyContent-more-icon{

}

.bodyContent-more-time{
    margin-left: 8px;
}

.bodyContent-more-readMore{
    padding: 8px 16px;
    font-size: 1.6rem;
    font-weight: 600;
    color: #e42727
}

.arrow-end{
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
}

.arrow-under{
    display: flex;
    justify-content: center;
    transform: translateX(-6%);
    margin-top: 16px;
}

.arrow-center{
    display: flex;
    justify-content: center;
    margin-top: 16px;
}